<div id="frontpage_splash">
  <div class='container'>
    <div id="left_column">
      <%= render :partial => "frontpage_new_request" %>
    </div>
    <div id="right_column">
      <div id="frontpage_search_box">
        <%= render :partial => "frontpage_search_box" %>
      </div>
      <div id="frontpage_right_to_know">
        <%= render :partial => 'frontpage_intro_sentence'  %>
      </div>
    </div>
    <div style="clear:both"></div>
    <div class="nzherald">
      <a href="http://nzherald.co.nz">Supported by <img class='sponsor' src="//s3-ap-southeast-2.amazonaws.com/nzh-assets/herald-white.png"></a>
    </div>
  </div>
</div>

<div id="frontpage_examples">
    <%= render :partial => "frontpage_bodies_list" %>
    <%= render :partial => "frontpage_requests_list" %>
</div>

<div class="nzherald">
  <a href="http://nzherald.co.nz">Supported by <img class='sponsor' src="//s3-ap-southeast-2.amazonaws.com/nzh-assets/herald.png"></a>
</div>
